


body {
  background-color: #121212;
}

.Site{
    font-family:FGB, sans-serif ;
    font-size: 40px;
    color:  #ffcc00;
    border-color: #fff;
    background-color: #292E37;
}

button:hover {
  color: black;
  background-color: blue;
}

button:active {
    color: yellow;
  background-color: red;
}


img{
    max-width: 200px;
    min-width: 150px;
    padding:5px;
    border:2px solid  #0f0f99;
    background-color: #292E37;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 80px;
}

.Connection{
    max-width: 10px;
    min-width: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 120px;
    margin-left: 10px;
    display: inline-block;
}


p{
  color:  #ffcc00;
  background-color: #292E37;
  border-left:3px;
  Font-size: 20px;
  width: 70%;
  margin-left: 100;
  padding:5px;
  border:2px solid  #0f0f99;
  background-color: #292E37;
}

p.Kyle{
  color:  #ffcc00;
  background-color: #292E37;
  Font-size: 20px;
  width: 70%;
  max-width: 1000px;
  min-width: 500px;
  margin-left: 100;
   padding:5px;
   border:2px solid  #0f0f99;
   background-color: #292E37;
   display: inline-block;
}

.Name{
     font-family:FGB, sans-serif ;
    font-size: 40px;
    color:  #ffcc00;
    border-color: #fff;
    background-color: #292E37;
    margin-left: 80px;
    margin-bottom: 100px;
}

.Partner{
  max-height: 150px;
  min-height: 10px;
  max-width: 120px;
  min-width: 100px;
  padding:0px;
  border: 0px;
  background-color: #292E37;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.Ship{
  max-height: 750px;
  min-height: 600px;
  max-width: 900px;
  min-width: 800px;
}

.SideArm{
  max-height: 650px;
  min-height: 500px;
  max-width: 900px;
  min-width: 800px;
}
